services:
  postgres:
    env_file:
      - ./.env.dev
    ports:
      - "${PG_PORT:-5432}:5432"
    volumes:
      - ../data/postgres:/var/lib/postgresql/data  # 绑定宿主目录，便于看见文件
  # 可选：pgAdmin 只在开发起
  pgadmin:
    image: dpage/pgadmin4:8
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@lnpms.local
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres